<p id="notice"><%= notice %></p>

<h1>Students</h1>

<div class="ui grid stackable">
  <div class="four wide column apple">
    <div class="ui secondary vertical pointing menu" id="studentMenu">
      <a class="item menuScroll" id="studentProfile">Profile</a>
      <a class="item  menuScroll active" id="studentCards">Cards</a>
      <a class="item menuScroll ngoList">NGO Partners</a>
    </div>
  </div>
  <div class="twelve wide column apple" id="studentInput"></div>
</div>
