<% if flash[:success] %>
<div class="ui positive message">
  <i class="close icon"></i>
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:danger] %>
<div class="ui negative message">
  <i class="close icon"></i>
  <%= flash[:danger] %>
</div>
<% end %>
