<% if flash[:success] %>
<div id="alertDiv" class="ui floating positive message">
  <i class="close icon"></i>
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:danger] %>
<div id="alertDiv" class="ui floating negative message">
  <i class="close icon"></i>
  <%= flash[:danger] %>
</div>
<% end %>
