<div class="ui yellow inverted menu">
  <a class="item" href="/">My Spot!</a>
  <div class="right menu">
    <% if current_user %>
      <% if current_user.usertype == 2 %>
        <a class="item" href="/schools" id="manage">Manage</a>
      <% elsif current_user.usertype == 3 %>
        <a class="item" href="/students" id="manage">Manage</a>
      <% elsif current_user.usertype == 4 %>
        <a class="item" href="/ngos" id="manage">Manage</a>
      <% end %>
      <%= link_to 'Logout', logout_path, class: "item", method: :delete %>
    <% else %>
      <a class="item" id="signIn">Sign In!</a>
      <%= render "partials/signin" %>
      <a class="item" id="signUp">Sign Up!</a>
      <%= render "partials/signup" %>
    <% end %>
  </div>
</div>
