<div class="ui menu">
  <a class="item">My Spot!</a>
  <div class="right menu">
    <% if current_user %>
      <%= link_to 'Logout', logout_path, class: "item", method: :delete %>
    <% else %>
      <a class="item" id="signIn">Sign In!</a>
      <%= render "partials/signin" %>
      <a class="item" id="signUp">Sign Up!</a>
      <%= render "partials/signup" %>
    <% end %>
  </div>
</div>
