
    <table class="ui selectable celled padded yellow table" id="appendTeacherTasks">
      <thead>
        <tr>
          <th class="one wide"></th>
          <th class="five wide">Task Name</th>
          <th class="five wide">Level</th>
          <th class="one wide">Edit</th>
        </tr>
      </thead>
      <tbody>


      </tbody>
    </table>


  <!-- MODAL FOR AMENDING TASK DESCRIPTION AND PICTURE STATUS -->
