<div class="ui page active dimmer">
  <div class="content">
    <div class="center">
      <div class="ui two column centered grid">
        <div class="column">
          <h2>School User Sign Up!</h2>
          <% @school_user = SchoolUser.new %>

          <div class="ui form">
            <%= form_for (@school_user), html: { class: "ui form", role: "form" } do |f| %>

              </br>
              <div class="field">
                <p>Select your School </p>
                <%= f.select :school_id, School.all.collect {|x| [x.name, x.id]}, {}, class: "ui search dropdown" %>
              </div>
              <div class="actions">
                <%= f.submit class: "ui yellow button"%>
              </div>
            <%end %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
