// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventStudentImage {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

.studentTaskButton {
  height: 50px;
  width: 50px;
}

// #appendStudentTasks > .studentEditTaskButton {
//   font-size: 40px;
// }
