// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pear {
  border: 1px solid blue;
}

#navMenuLanding {
  background-color: rgba(255,255,255,0.4);
  border: 0;
  // margin-top: 10px;
  padding: 10px;
}

#direction {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0.8)
}

// #homeIcon {
//   font-size: 20px;
// }

#brandIcon {
  font-size: 40px;
}

#signIn {
  border: 1.5px solid black;
}

.comments {
  margin-top: 20px;
  font-size: 15px;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 5px;
}

.orange {
  margin-top: 20px;
  font-size: 15px;
  background-color: rgba(0,0,0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
}

#signUp {
  border: 1.5px solid black;
}

#landingImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/img/plant.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#comment2 {
  visibility: hidden;;
}

#comment3 {
  visibility: hidden;;
}

#comment4 {
  visibility: hidden;;
}

#comment5 {
  visibility: hidden;;
}

#comment6 {
  visibility: hidden;;
}

#partnerIcons {
  font-size: 50px;
}
