// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profileMenu {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#profileInput {
  height: 700px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.ui.basic.table {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#profileInput > .editButton {
  width: 150px;
  margin-bottom: 30px;
}

#studentInput .ui.icon .loadingIcon {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

#profileInput .ui.icon {
  text-align: center;
  margin-top: 20px;
}

#ngoAppendCards .card:hover {
  box-shadow: 3px 3px 3px 3px #FBBD08;
}

#ngoAppendCards {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#studentAppendCards .card:hover {
  box-shadow: 3px 3px 3px 3px #FBBD08;
}

#studentAppendCards {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#appendEventCards {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#appendEventCards .card:hover {
  box-shadow: 3px 3px 3px 3px #FBBD08;
}

#appendCards > a:hover {
  box-shadow: 3px 3px 3px 3px #FBBD08;
}

.cardLinkIcons {
  margin-left: 10px;
}

#addEventBox {
  margin: 0px auto 20px auto;
}

#addEvent{
  width: 200px;
}

#user_profile_pic {
  border: 0;
}

.profile-image-container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  text-align: center;
  align: middle;
}

tr .logo {
  text-align: center;
  align: middle;
}

// .anchorForCards {
//   height: 100%;
//   width: 100%;
// }
