<div class="ui page active dimmer" id="aboutUsDim">
  <div class="content">
    <div class="center">
      <div id="brandIcon">
        <i class="bug icon" id="homeIcon"></i>
        <p>SPOT</p>
      </div>
      </br>
      <h1>Volunteers + NGOs = Success!</h1>
      <h3>We're a community who connects people who want to change the world together.</h3>
      <h1></h1><h1></h1>
    </div>
  </div>
</div>

<div class="ui page dimmer" id="partnerCompaniesDim">
  <div class="content">
    <div class="center" id="partnerIcons">
      <i class="behance icon"></i>
      <i class="bitbucket icon"></i>
      <i class="bitbucket square icon"></i>
      <i class="buysellads icon"></i>
      <i class="chrome icon"></i>
      <i class="codepen icon"></i>
      <br>
      <br>
      <i class="xing icon"></i>
      <i class="xing square icon"></i>
      <i class="y combinator icon"></i>
      <i class="yahoo icon"></i>
      <i class="yelp icon"></i>
      <i class="yoast icon"></i>
      <i class="youtube icon"></i>
    </div>
  </div>
</div>
