<div id="landingImage">
</div>

<div class="ui grid stackable container" id="middleContent">
  <div class="five wide column">
    <div class="row comments orange" id="comment1">
      <p>"ABC University's attention to detail, professionalism and willingness to go the extra mile really sets them apart.  No stone is left unturned in the planning and their team on the ground were just as brilliant."</p>
      <p>- <i>Minion, ABC University</i></p>
    </div>
    <div class="row comments" id="comment2">
      <p>"Charity Challenge offers a unique opportunity for people to challenge themselves and get fit, while raising money for a great cause. Since AC-AF works primarily in East Africa, we are particularly excited by the Kilimanjaro Summit Climb, although all of the challenges offer a one-of- a- kind experience."</p>
      <p>- <i>Minion, ABC University</i></p>
    </div>
  </div>
  <div class="six wide column">
    <div class="row comments" id="comment3">
      <p>"At every step of the way, Charity Challenge was available to answer our questions. It was clear that they had done the necessary research and tailored the website and information for Canadian charities and their supporters."</p>
      <p>- <i>Minion, ABC University</i></p>
    </div>
    <div class="row orange" id="comment4">
      <p>"The support you receive from the organizers at Charity Challenge is outstanding. Simon and his team are quick to respond and always willing to go the extra mile to help your charity. They are interested in knowing more about you so that they are able to accommodate your needs and guide you every step of the way. Having this support truly gives the charity a better direction on how to work with your donors and promote this fabulous opportunity."</p>
      <p>- <i>Minion, ABC University</i></p>
    </div>
  </div>
  <div class="five wide column">
    <div class="row orange" id="comment5">
      <p>"Charity Challenge organised a fantastic bespoke trek for us to Peru.  Their attention to detail, professionalism and willingness to go the extra mile really sets them apart from their competitors.  No stone is left unturned in the planning and their team on the ground in Peru were just as brilliant.  We would recommend them to anyone considering taking part in a trek."</p>
      <p>- <i>Breast Cancer Care, Fundraising Team</i></p>
    </div>
    <div class="row comments" id="comment6">
      <p>"I've been volunteering for a three years. It's wonderful to see them grow both physically and intellectually. When I was a teenager I benefited greatly from the gracious action of an adult. I try to do the same for others and volunteering is one way I can benefit others."</p>
      <p>- <i>Minion, ABC University</i></p>
    </div>
  </div>
</div>

<%= render "public/dimmers" %>

<div class="ui three item inverted menu" id="direction">
  <a class="item" id="aboutUs">
    <b>About Us</b>
  </a>
  <a class="item" id="partnerCompanies">
    <b>Partners</b>
  </a>
  <a class="item" href="mailto:#">
    <b>Email Us</b>
  </a>
</div>
